@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Pixelify+Sans&family=Sometype+Mono&display=swap');
body {
	background: #111;
	height: 100vh;
}
/*FONDO*/
.wrapper span {
	position: fixed;
	bottom: -180px;
	height: 50px;
	width: 50px;
	z-index: -1;
	background-color: #18191f;
	box-shadow: 0 0 50px #0072ff, 0 0 100px #0072ff, 0 0 150px #0072ff, 0 0 200px #0072ff;
	animation: animate 10s linear infinite;
}
.wrapper span:nth-child(1) {
	left: 60px;
	animation-delay: 0.6s;
}
.wrapper span:nth-child(2) {
	left: 10%;
	animation-delay: 3s;
	width: 60px;
	height: 60px;
}
.wrapper span:nth-child(3) {
	left: 20%;
	animation-delay: 2s;
}
.wrapper span:nth-child(4) {
	left: 30%;
	animation-delay: 5s;
	width: 80px;
	height: 80px;
}
.wrapper span:nth-child(5) {
	left: 40%;
	animation-delay: 1s;
}
.wrapper span:nth-child(6) {
	left: 50%;
	animation-delay: 7s;
}
.wrapper span:nth-child(7) {
	left: 60%;
	animation-delay: 6s;
	width: 100px;
	height: 100px;
}
.wrapper span:nth-child(8) {
	left: 70%;
	animation-delay: 8s;
}
.wrapper span:nth-child(9) {
	left: 80%;
	animation-delay: 6s;
	width: 90px;
	height: 90px;
}
.wrapper span:nth-child(10) {
	left: 90%;
	animation-delay: 4s;
}
.banner {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
.content h2 b {
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke-width: 3px;
	-webkit-text-stroke-color: #fff;
	font-family: montserrat;
	font-size: 80px;
	text-transform: uppercase;
	letter-spacing: 12px;
}
/*Nombre de la materia*/
.waves{
    display: flex;
    padding-left: 25%;
    padding-top: 50px;
    text-align: center;
    width: 50%;
    font-stretch: expanded;
}
.waves h2{
    font-size: 3rem;
    position: absolute;
}
.waves .border{
    color: black;
    text-shadow: 
        -1px -1px 0 white,
        1px -1px 0 white,
        1px 1px 0 white,
        -1px 1px 0 white;
}
.waves .wave{
    color: #09f;
    animation: wave 3s ease-in-out infinite;
}
/*Barra de proyectos */
.select-menu{
    width: 280px;
    height: 380px;
    top: 200px;

}
.select-menu .select-btn{
    display: flex;
    height: 55px;
    /**/
    background: #3D93FF;
    /**/
    padding: 20px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 8px;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    box-shadow: 0 0 5px rgba(0,0,0,0,1);
}
.select-btn i{
    font-size: 25px;
    transition: 0.3s;
}
.select-menu.active .select-btn i{
    transform: rotate(-180deg);
    
}
.select-menu .options{
    position: relative;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 0 3px rgba(0,0,0,0,1);
    display: none;
}
.select-menu.active .options{
    display: block;
}
.options .option{
    display: flex;
    height: 55px;
    cursor: pointer;
    padding: 0 16px;
    border-radius: 8px;
    align-items: center;
    background: #fff;
}
.options .option:hover{
    background: #fff;
}
.option i{
    font-size: 25px;
    margin-right: 12px;
}
.option .option-text{
    font-size: 18px;
    color: #333;
}
/*Maquina*/
.maquina span h2{
    color: #0056C1;
    
    display: block;
    font-family: 'Bruno Ace SC', sans-serif;
    font-family: 'Pixelify Sans', sans-serif;
    white-space: nowrap;
    border-right: 4px solid;
    width: 22ch;
    height: 50%;


    
    animation: typing 2s steps(22), blink .5s infinite step-end alternate;
    overflow:hidden;
}
/*Keyframes*/
/*Key del fondo */
@keyframes animate {
	0% {
		transform: translateY(0);
		opacity: 1;
	}
	80% {
		opacity: .7;
	}
	100% {
		transform: translateY(-800px) rotate(360deg);
		opacity: 0;
	}
}
/*Key del nombre de la materia*/
@keyframes wave{
    0%, 100%{
        clip-path: polygon(
            0 47%,
            10% 48%,
            33% 54%,
            54% 60%, 
            70% 61%,
            84% 59%,
            100% 52%,
            100% 100%,
            0% 100%
        );
    }
    50%{
        clip-path: polygon(
            0% 60%,
            15% 65%,
            34% 66%,
            51% 62%,
            67% 50%,
            84% 45%,
            100% 46%,
            100% 100%,
            0% 100%
        );
    }
}
/*Maquina*/
@keyframes typing {
    from { width: 0}
}
    
@keyframes blink {
    50% { border-color: transparent}
}
/*General div's*/
.proyectos, .maquina, .waves {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    font-family: 'Bruno Ace SC', sans-serif;
    font-family: 'Pixelify Sans', sans-serif;
    font-family: 'Sometype Mono', monospace
}